/*------------===========Fonts==========------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --white-color: #fff;
    --sign-up-background-and-text-color:#523728;
    --nav-bar-background-and-text-color:rgba(111, 68, 54, 0.80);
    --home-text-color:#523728;
    --home-title-info-color: rgba(27, 11, 11, 0.75);
    --scrollbar-color:#523728;
    --home-button-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 
                                0px 5px 11px 0px rgba(0, 0, 0, 0.10),
                                 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 
                                 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 
                                 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 
                                 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    --about-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 
                        0px 5px 11px 0px rgba(0, 0, 0, 0.10), 
                        0px 20px 20px 0px rgba(0, 0, 0, 0.09), 
                        0px 45px 27px 0px rgba(0, 0, 0, 0.05), 
                        0px 81px 32px 0px rgba(0, 0, 0, 0.01), 
                        0px 126px 35px 0px rgba(0, 0, 0, 0.00);

    --menu-background-color: rgba(106, 64, 40, 0.90);
    --menu-content-background-color:#FFF8E1;
    --menu-content-title-color: #1D2729;
    --menu-content-subtitle-color: #555;
    --menu-content-box-shadow: 2px 9px 42px 0px rgba(77, 66, 44, 0.50),
                                 -2px -9px 42px 0px rgba(77, 66, 44, 0.50);
    --blog-box-shadow: -2px -9px 42px 0px rgba(77, 66, 44, 0.38);
    --blog-background-color: #FFF8E1;

    /*-----================FontS,Font Sizes & Font Weights================----------*/

            /*-----================FontS================----------*/

    --accent-font:Inika;
    --sub-accent-font: Inter;
    --general-font:Poppins;
    --blog-date-font:"Outfit", sans serif;

            /*-----================Font Sizes================----------*/

    --nav-font-size:16px;

            /*-----================Font Sizes================----------*/
    

    --font--smaller:400;
    --font-small:500;
    --font-medium:600;
    --font-regular:700;


    
}

        /*----------=============Webkit-------------================= */

    ::-webkit-scrollbar {
        width: .6rem;
        background: transparent;
        border-radius: 1rem;
        transition: .3s ease;
        }

    ::-webkit-scrollbar-thumb {
        width: 6rem;
        border-radius: 1rem;
        background:transparent;
        }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color);
        }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none; 
        scroll-behavior: smooth;  
        
    }
    body {
        width: 100%;
        height: 1000vh;
        }

        /* Reuseable css */
    .grid {
        display: grid;
    }

    main{
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    /*-----================HEADER START================----------*/
    header {
       background: linear-gradient(to top right,  #f0ba8a, #dedbd8);
        
        width: 100%;
        height: 17.9vh;
        border: none;
        background-position: center;
        box-shadow: var(--home-button-box-shadow);
        background-size: cover;
        position: fixed;
        padding: 1.2rem,1.2rem,1.2rem,1.2rem;
        z-index: 101;
    }

    .logo {
        width: 132px;
        height: 130px;
        transform:translateX(3rem);
        cursor: pointer;
    }

    .nav-menu,
    .nav-list,
    .right-header,
    .sign-up,
    .nav__toggle
    {
        display: flex;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
        height: 3.5rem;
    }

    .nav-list {
        gap: 0.9rem;
        margin-top: 2.5rem;
        cursor: pointer;
        width: 489px;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        height: 43px;
        flex-shrink: 0;
        background-color: var(--nav-bar-background-and-text-color);
    }

    .nav-menu ul li a {
        color: var(--white-color);
        font-family: var(--sub-accent-font);
        font-weight: var(--font-medium);
        font-size: var(--nav-font-size);
        display: inline-block;
        padding: 12px 20px; /* Adjust padding */
        text-align: center; /* Center the text */
    }

   .nav-menu ul li .active-link {
        color:var(--nav-bar-background-and-text-color);
        font-weight: var(--font-regular);
    }

    .nav-menu ul li:hover a,
    .active a
    {
    border-radius: 10px;
    height: 43px;
    padding: 12px 20px;
    color: var(--nav-bar-background-and-text-color);
    background-color: var(--white-color);
    transition: 0.5s ease-out;
    }

    .right-header{
        margin-top: 2.5rem;
        gap: 2.5rem;
    }

    .sign-up {
    padding: 1.4rem;
    align-items: center;
    font-family: var(--general-font);
    font-size: var(--nav-font-size);
    font-weight: var(--font-small);
    color: var(--sign-up-background-and-text-color);
    border-radius: 25px;
    border: 1px solid var(--sign-up-background-and-text-color);
    }

    .nav__toggle {
        color: var(--title-color);
        transition: color .4s;
    }
    
    .nav__toggle i {
        font-size: 1.4rem;
        margin-left: -.1rem;
    }


    @media screen and (max-width:57.5em){

        header{
            height: 16.5vh;
        }
        
        .logo {
           transform: translateX(2rem);
            width: 130px;
            height: 129px;
        }

        .right-header {
            margin-right: 2rem;
            gap: 1.5rem;
            cursor: pointer;
        }

        .nav-list {
            position: absolute;
            right: 0;
            overflow: auto;
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            border-radius: 5px;
            justify-content: flex-start;
            height: 35vh;
            transition: opacity .5s, 
            transform .4s, margin-top .4s;
            opacity: 0;
            visibility: hidden;
        }
       
        .nav__toggle {
            position: relative;
            width: 32px;
            height: 32px;
            transition: .3s;
        }
        
        .nav__toggle:hover {
            transform: translateY(-.30rem);
        }

        .nav__burger,
        .nav__close
        {
            position: absolute;
            width: max-content;
            height: max-content;
            margin-top: 1rem;
            font-size: 1.75rem;
            transition: opacity .1s, transform .4s;
        }

        .nav__close {
            opacity: 0;
        }

        .open-icon .nav__burger {
            opacity: 0;
            transform: rotate(90deg);
        }
    
        .open-icon .nav__close {
            opacity: 1;
            transform: rotate(90deg);
        }
        
         .open {
            opacity: 99;
            visibility: visible;
            margin-top: 6.9rem;
            pointer-events: initial;
        }
    }

    @media screen and (max-width:37.5em){

        header{
            height: 15vh;
        }
        
        .logo{
            width: 110px;
            height: 109px;
            transform: translateX(1rem);
        }

        .nav-list{
        width: 50%;
        }

        .nav-menu ul li a {
            font-size: 14px;
        }
        
        .nav__burger,
        .nav__close{
            margin-top: 0.5rem;
        }
        
        .right-header{
            margin-right: 1rem;
        }

        .sign-up{
            padding: 1rem;
            font-size: 14px;
        }

        .open {
            margin-top: 5.8rem;
        }
    }

    @media screen and (max-width:499px){

        header{
            height: 13.5vh;
        }

        .logo{
            width: 110px;
            height: 100px;
            transform: translateX(0.2rem);
        }

        .nav-list {
            width: 100%;
        }

        .right-header{
            margin-right: .1rem;
        }

        .open {
            margin-top: 5.2rem;
        }

    }
    @media screen and (max-width:31.188em){

        .logo{
            transform: translateX(0);
            width: 100px;
            height: 99px;
        }
       
        .nav-menu ul li a {
            font-size: 13px;
        }

        .right-header{
            gap: 1rem;
        }

        .sign-up{
            padding: .9rem;
            font-size: 12px;
        }
    }

    @media screen and (max-width:20em){

        header{
            height: 14.9vh;
        }
    }
/*-----================HEADER END================----------*/

    section{
        padding: 0 8%;
    }


    .home {
        /* background: url(../img/MAIN\ BG.png);
        background-repeat: no-repeat;
        background-size: cover; */
        background: linear-gradient(to top right,  #f0ba8a,#b7906d, #dedbd8);
            /* Optionally, you can adjust the angle to achieve the desired effect */
            /* background-image: linear-gradient(135deg, #FCF9F4, #79533B, #6A4028); */
            /* You can also adjust background-size, background-repeat, etc. */
       
        
        width: 100%;
        padding-bottom: 2rem;
     

    }


    .container-home {
        padding-top: 3rem;
    }

    .home-title {
        font-size: 4.313rem;
        font-family: var(--accent-font);
        font-weight: var(--font-smaller);
        color: var(--home-text-color);
    }

    .home-subtitle {
        margin-top: 1.5rem;
        font-size: 1.125rem;
        font-family: var(--sub-accent-font);
        font-weight: var(--font--smaller);
        color: var(--home-text-color);
    }

    .home-button {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        gap: 1rem;
        display: flex;
    }

    .get-started,
    .watch-video
    {
        padding: 1.5rem 1.5rem;
        color: var(--white-color);
        font-size: 0.938rem;
        font-family: var(--general-font);
        font-weight: var(--font-medium);
        text-align: center;
        border-radius: 6.25rem;
    }

    .get-started {
        padding: 1.5rem 3rem;
        background: #6A4028;
        box-shadow: var(--home-button-box-shadow);
    }

    .watch-video {
        border: 1px solid #6A4028;
        color: #6A4028;
        cursor: pointer;
    }

    .home__video {
        height: 225px;
        display: none;
        transition: opacity 0.3s, height 0.4s;
        z-index: 99999999999;
    }
    
    .home__video iframe {
        width: 310px;
        height: 80%;
        transition: width 0.3s ease, height 0.2s ease;
        border-radius: 2rem;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            height: 0;
        }
    
        to {
            opacity: 1;
            height: 225px;
        }
    }
    
    .video-open {
        display: block;
        animation: fadeIn .3s ease-in-out;
        margin-block: 2rem;
    }

    .home-image {
        padding: 0 2%;
        margin-top: -5rem;
    }

    .home__img {
        width: 600px;
        height: 580px;

    }
 

    


    #about{
        background-color: var(--white-color);
        padding-top: 2rem;
        width: 100%;
        position: relative;
        z-index: 100;
        margin-bottom: 10rem;
    }
    .about-container{
        display: flex; 
        justify-content:flex-start;
        align-items: center;
        gap: 2rem;
    }

    .about-img{
        padding: 0 2%;
        margin-left: -3rem;
        
    }

    .about-img img{
        width: 510px;
        height: 500px;
    }

    .about-info{
        margin-top: 10rem;
    }

    .about-title{

        color: #220404;
        font-size: 3.5rem;
        font-family: var(--accent-font);
        font-weight: 400;
    }

    .about-subtitle{
        color: rgba(27, 11, 11, 0.75);
        font-family: var(--general-font);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: var(--font-smaller);
        line-height: normal;
    }

    .info-title,
    .info-subtitle
    {
        margin-top: 1.75rem;
        color: rgba(0, 0, 0, 0.70);
        font-family: var(--sub-accent-font);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: var(--font--smaller);
        line-height: normal;
    }

    .about-link{
        margin-top: 2rem;
        display: inline-flex;
        height: 56px;
        padding: 19px 42px 18px 41px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        background: #6A4028;
        color: var(--white-color);
        font-family: var(--general-font);
        font-size: 16px;
        font-style: normal;
        font-weight: var(--font-medium);
        transition: transform 0.3s ease-in-out;
        box-shadow: var(--about-box-shadow);
    }

    .about-link:hover{
        transform: translateY(-.45rem);


    }

    .menu{
        background-color: var(--home-text-color);
        padding-top: 2rem;
    }

    .cheese__menu {
        margin-top: 5rem;
    }

    .menu__title{
        font-size: 4rem;
        font-family: var(--accent-font);
        font-weight: var(--font--smaller);
        color: var(--blog-background-color);
        text-align: center;
        position: relative;
        top: 4rem;
        z-index: 100;
        margin-bottom: 5rem;
        padding: 0 10%;
        
    }
    .menu__card {
        background-color: var(--home-text-color);
        max-width: 1200px ;
        width: 100%;
        
        
    }
    
    .cheese__slide{
        background-color: var(--blog-background-color);
        border-radius: 2.5rem;
        width: 300px;
        height: 320px;
        
    }

    .cheese__data__info{
        margin-top: 1rem;
    }

    .cheese__title{
        color: var(--menu-content-title-color);
        font-family: var(--accent-font);
        font-size: 1.225rem;
        margin-left: 1rem;
        font-style: normal;
        font-weight: var(--font-regular);
        line-height: normal;
    }

    .cheese__subtitle{
        margin-left: 1.1rem;
        color: var(--menu-content-subtitle-color);
        font-family: var(--accent-font);
        font-size: 0.78rem;
        font-style: normal;
        font-weight: var(--font--regular);
        line-height: normal;
    }


    .cheese-img {
        text-align: center;
    }



    .cheese__img{
        margin-top: 1rem;
        width: 153px;
        height: 148px;
    }

    .cheese__cost{
        margin-left: 1.1rem;
        margin-top: 1.3rem;
        display: flex;
        justify-content: space-between;
    }

    .cheese__prize{
        color: #745545;
        font-family: var(--sub-accent-font);
        font-size: 1.131rem;
        font-weight: var(--font-regular);
    }
    .dollar{
        color: #53A623;
    }


    .cheese__rating{
        margin-right: 3rem;
        font-weight: var(--font-regular);
        font-family: var(--general-font);
        color: var(--home-text-color);
        font-size: 1.131rem;
    }

   /**swiper class */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: '';
    }


    .swiper-button-prev,
    .swiper-button-next {
        top: initial;
        position: absolute;
        margin-top: 2vh;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--white-color);
        padding: 5px;
        font-size: 1.8rem;
        border-radius: 50%;
        color: var(--home-text-color);
        box-shadow: var(--home-button-box-shadow);
        transition: background .3s;

    }

    .swiper-button-prev {
        left: calc(50% - 3.5rem);
    }

    .swiper-button-next {
        right: calc(50% - 3.5rem);
        background-color: var(--white-color);
        color: var(--home-text-color);
    }
    .view-more{
        margin-top: 4rem;
        display: flex;
    }
    
    .view__more{
       align-items: flex-end;
       margin-left: auto;
       color: var(--white-color);
       font-size: 1.3563rem;
       font-family: var(--sub-accent-font);
       margin-bottom: 3rem;
       cursor: pointer;
       padding: 5px;
       box-shadow: var(--about-box-shadow);
       border-radius: 5rem;
       transition: .4s ease;
       
    }
    .view__more i {
        font-size: 1.532rem;
    }

    .view__more:hover  {
        transform: translateX(5px);
    }


    .view-more-menu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:rgba(87, 61, 47, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        box-shadow: var(--about-box-shadow);
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        
    }
    

    .show-menu.view-more-menu{
        transition: .3s ease;
        opacity: 1;
        visibility:visible;
    }

     .menu_container .close__cheese__menu {
        position: absolute;
        right: 1rem;
        top: 1rem;
        align-items: flex-end;
        margin-left: auto;
        color: var(--white-color);
        font-size: 1.5rem;
        cursor: pointer; 
        padding: .7rem;
        background-color: var(--sign-up-background-and-text-color);
        border-radius: .8rem;
        box-shadow: var(--home-button-box-shadow);
    }

    .our-menu {
        font-family: var(--accent-font);
        font-weight: var(--font-small);
        font-size: 1.3rem;
        color: var(--white-color);
        margin-top: 1.5rem;
        margin-left: 3rem;
    }

    .menu__content{
        background-color: var(--blog-background-color);
        border-radius: 1.5rem;
        width: 200px;
        height: 190px;
        
    }

    .cheese__data__info{
        margin-top: 1rem;
    }

    .menu_container {
        justify-content: center;
        align-items: center;
        position: absolute; 
        background-color: #573d2f;
        padding: 30px;
        border-radius: 3rem;
        margin-top: 7rem;
       
        
  
    }

    .menu-description {
        position: relative;
        grid-template-columns: repeat(2, 0fr);
        gap: 1rem;
        margin-bottom: 1rem;
        height: 65vh;
        background-color: #573d2f;
        overflow-x: hidden;
        overflow-y: scroll;
    }

   

    .menu-description::-webkit-scrollbar{
        background-color: var(--home-text-color);
    }
    .menu-description::-webkit-scrollbar-thumb{
        background-color: var(--blog-background-color);
    }

    .our-menu__title{
        color: var(--menu-content-title-color);
        font-family: var(--accent-font);
        font-size: 0.925rem;
        margin-left: 1rem;
        font-style: normal;
        font-weight: var(--font-regular);
        line-height: normal;
    }

    .our-menu__subtitle{
        margin-left: 1.1rem;
        color: var(--menu-content-subtitle-color);
        font-family: var(--general-font);
        font-size: 0.6rem;
        font-style: normal;
        font-weight: var(--font--regular);
        line-height: normal;
    }



    .menu__image{
        margin-top: 1rem;
        width: 80px;
        height: 75px;
    }

    .our-menu__cost{
        margin-left: 1.1rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .our-menu__prize{
        color: #745545;
        font-family: var(--sub-accent-font);
        font-size: 0.7rem;
        font-weight: var(--font-regular);
    }
    .dollar{
        color: #53A623;
    }


    .our-menu__rating{
        margin-right: 2rem;
        font-weight: var(--font-regular);
        font-family: var(--general-font);
        color: var(--home-text-color);
        font-size: 0.6rem;
    }

    .blog{
        background-color: var(--blog-background-color);
        padding-top: 3rem;
        
    }

    .blog-container{
        
        padding-bottom: 9rem;
    }

    .blog-title,
    .blog-subtitle
    {
        color: #734B33;
        text-align: center;
        transform: translateY(5rem);
        
    }

    .blog-title{
        font-size: 4rem;
        font-family: var(--accent-font);
        font-weight: var(--font-smaller);
    }

    .blog-subtitle{
        font-size: 1.265rem;
        font-family: var(--general-font);
    }

    .blog-content {
        margin-top: 7rem;
        grid-template-columns: repeat(3, 3fr);
        gap: 2rem;
        
    }

    .blog__menu{
        width: 320px;
        height: 515px;
        margin-top: 2rem;
        border-radius: 1.88rem;
        margin-left: 1rem;
        box-shadow: var(--blog-box-shadow);
    }

    .blog-img{
        text-align: center;
        justify-content:center;
        align-self: center;
        margin-top: 2rem;
    }

    .blog-img img{
        width: 250px;
        height: 250px;
        transition: .3s;
    }

    .blog-img img:hover{
        transform: scale(1.1);
    }

    .blog-menu{
        gap: 3rem;
    }

    .blog-title-date{
        font-size: 1.125rem;
        font-weight: var(--font-small);
        font-family: var(--blog-date-font);
        color: #b86939;
        margin-top: 0.5rem;
    }

    .blog-menu-content,
    .blog-title-date,
    .blog__readmore
    {
        margin-left: 1rem;
    }

    .blog-menu-title {
        font-size: 1.375rem;
        font-family: var(--general-font);
        font-weight: var(--font-medium);
    }

    .blog-menu-subtitle{
        font-size: 0.781rem;
        font-weight: var(--font--smaller);
        font-family: var(--general-font);
    }

    .blog__readmore{
        
        margin-top: 1rem;
    }

    .blog-readmore{
        font-size: 0.969rem;
        font-family: var(--general-font);
        font-weight: var(--font--small);
        cursor: pointer;
    }


    .blog-menu-title,
    .blog-menu-subtitle,
    .blog-readmore{
        color: #734B33;
        margin-top: 0.5rem;
    }


    .contact {
        
        background-color: var(--home-text-color);
        padding-bottom: 2rem;
    }

    .contact-info{
        padding-top: 6rem;
        padding-bottom: 3rem;
        grid-template-columns: repeat(2, 10fr);
        gap: 7rem;
    }

    .contact-card__title{
        font-size: 2.5rem;
        font-family: var(--accent-font);
        color: var(--menu-content-background-color);
        font-weight: var(--font--smaller);
        margin-top: 2rem;
    }

    .contact-card__subtitle {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-family: var(--sub-accent-font);
        font-weight: var(--font-small);
        color: var(--menu-content-background-color);
    }

    .contact-image{
        padding: 0 2%;
    }

    .contact-img{
        width: 310px;
        height: 300px;
    }

    .contact-socials{
        display: flex;
        margin-top: 2rem;
        gap: 1.3rem;
    }

    .contact-socials .facebook {
        background-color:#ff9900 ;
    }

    .contact__socials {
        width: 2.5rem;
        height: 2.5rem;
        padding: 10px;
        color: var(--menu-content-subtitle-color);
        font-size: 1.1rem;
        font-weight: var(--font-medium);
        background-color: #edffef;
        border-radius: 20rem;
        transition: .3s ease;
        z-index: 1;

    }

    .contact-socials a:hover {
        background-color: #ff9900;
        transform: translateY(-5px);
    }

    .contact-end {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .contact-last-title,
    .davis-link
     {
        font-size: 1.25rem;
        font-weight: var(--font-small);
        font-family: var(--sub-accent-font);
        font-weight: var(--font-small);
        color: var(--blog-background-color);
    }

    .contact-form{
        display: block;
        margin-top: 7rem;
        margin-left: 5rem;
        z-index: 100;
    }
    
    input,
    textarea{
        margin-top: 1rem;
        outline: none;
        border: none;
        background: #fcf9f4;
        padding-left: 1.5rem;
        font-size: 1.25rem;
        font-family: var(--sub-accent-font);
        color: #757575;
        font-weight: var(--font--smaller);
        
    }

    input {
        width: 413px;
        height: 3.875rem;
        border-radius: 3.75rem;
    }

    textarea {
        width: 26.06rem;
        height: 10.063rem;
        resize: none;
        border-radius: 1.625rem;
    }
    
    .contact-form form textarea{
        padding-top: 1rem;
    }

    .contact-button {
        font-size: 1.5rem;
        font-weight: var(--font--smaller);
        color: #000;
        margin-top: 1rem;
        width: 20.06rem;
        height: 3.813rem;
        justify-self: center;
        align-self: center;
        border-radius: 3.75rem;
        border: none;
        background: #feae36;
        cursor: pointer;
        transition: .5s ease
    }

    .contact-button:hover {
        transform: translateX(5px);
    }

    .scroll-btn {
        position: fixed;
        right: 1rem;
        bottom: -50%;
        background: var(--home-text-color);
        display: inline-flex;
        padding: 6px;
        font-size: 1.25rem;
        color: var(--white-color);
        z-index: 100;
        border-radius: .25rem;
        box-shadow:var(--home-button-box-shadow);
        transition: bottom .8s, transform .8s, background .8s;
    }
    
    .scroll-btn:hover {
        transform: translateY(-.5rem);
        transition: .3s;
    }
    
    .show-scroll {
        bottom: 3rem;
    }

    /*====================---------------------BREAKPOINTS----------------------+========================== */
    

    @media screen and (max-width:23.75em) {

        .container-home {

            padding-top: 8rem;
        }

        .home-title {
            font-size: 1.7rem;
        }

        .home-button {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
        }

        .home-subtitle {
            font-size: 0.7rem;
        }

        .get-started,
        .watch-video {
            padding: .65rem .80rem;
            font-size: 0.6rem;
        }

        .home__video iframe {
            width:280px;
        }

        .home-image {
            margin-top: -1rem;
            margin-left: -2rem;
            z-index: 0;
        }
        .home__img {
            width: 350px;
            height: 340px;
        }

        .home-title,
        .home-subtitle,
        .home__video,
        .info-title,
        .info-subtitle,
        .about-title,
        .about-subtitle,
        .about-link
        
        {
            text-align: center;

        }


        .about-container{
            display: grid;
        }

        .about-info{
            margin-top: -1rem;
        }

        

        .about-title{
            font-size: 1.5rem;
        }
        .about-subtitle{
            font-size: 1rem;
        }

        .info-title,
        .info-subtitle{
        font-size: 0.99rem;
        }

        .about-img {
            text-align: center;
        }

        .about-img img{
            margin-top: -3rem;
            width: 250px;
            height: 240px;
        }

        .about-link{
            padding: 15px 12px;
            font-size: 14.2px;
            align-items: center;
            display: flex;
            
        }

        .menu{
            margin-top: -3rem;
        }

        .menu__title{
            font-size: 1.7rem;
        }

       

        .cheese__title,
        .cheese__subtitle
        {
            text-align: center;
            margin-left: 0;
        }

        .view__more{
            font-size: 1rem;
        }

        .our-menu{
            font-size: 0.9rem;
        }

        .menu_container {
            padding-right: 70px;
            padding-left: 70px;
        }

        .menu_container {
            padding-right: 80px;
            padding-left: 80px;
        }


        .menu-description {
            margin-top: 3rem;
            gap: 1rem;
            grid-template-columns: repeat(1, 0fr);
        }

        .blog__menu {
            width: 290px;
            height: 460px;
        
        }

        .blog-img img {
            width: 200px;
            height: 200px;
        }
        
        .blog-title {
            font-size: 1.7rem;
        }

        .blog-subtitle {
            font-size: 0.9rem;
            margin-top: 2rem;
        }

        .blog-content {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;
        }     

        .blog-title-date {
            font-size: 0.9rem;
        }
        
        .blog-menu-title {
            font-size: 1rem;
        }

        .contact-info {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }

        .contact-card__title {
            font-size: 1.8rem;
        }

        .contact-card__subtitle {

            font-size: 0.8rem;
        }

        .contact-img {
            width: 270px;
            height: 240px;
        }

        .contact-last-title,
        .davis-link
        {
            font-size: 0.8rem;
        }

        .contact-form {
            margin-left: -0.2rem;
            margin-top: 1rem;
        }

        input {
            width: 290px;
            height: 3rem;
        }

        textarea {
            width: 17.8rem;
        }

        .contact-button {
            width: 17.06rem;
            height: 3.213rem;
            font-size: 0.7rem;
            margin-left: -1.5rem;

        }

        input,
        textarea {
            font-size: 0.9rem;
        }

        
    }

    @media screen and (min-width:23.813em) {

        .container-home {

            padding-top: 10rem;
        }

        .home-title {
            font-size: 1.9rem;
        }

        .home-subtitle {
            font-size: 0.8rem;
        }

        .home-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }

        .get-started,
        .watch-video {
            padding: .70rem .80rem;
            
        }

        .home-title,
        .home-subtitle
        {
            text-align: center;

        }

        .home__video {
            text-align: center;
        }

        .home__video iframe {
            width: 300px;
            
        }

        .home-image {
            margin-top: 1rem;
            margin-left: -2rem;
            z-index: 0;
        }
        .home__img {
            width: 350px;
            height: 340px;
        }


        .about-container{
            display: grid;
        }

        .about-info{
            margin-top: -1rem;
        }

        .info-title,
        .info-subtitle,
        .about-title,
        .about-subtitle,
        .about-img
        
        {
            text-align: center;
        }


        .about-title{
            font-size: 1.5rem;
        }
        .about-subtitle{
            font-size: 1rem;
        }

        .info-title,
        .info-subtitle{
        font-size: 0.99rem;
    }

        .about-img img {
            margin-top: -3rem;
            width: 250px;
            height: 240px;
        }

        .about-link {
            padding: 15px 25px;
            font-size: 14.2px;
        }

        .menu {
            margin-top: -3rem;
        }

        .menu__title {
            font-size: 1.7rem;
        }

        .cheese__title,
        .cheese__subtitle
        {
            text-align: center;
            margin-left: 0;
        }

        .view__more {
            font-size: 1rem;
        }

        .close__cheese__menu {
             z-index: 999999999;
            
        }

        .our-menu {
            font-size: 0.9rem;
        }

        .menu_container {
            padding-right: 100px;
            padding-left: 100px;
        }

        .menu-description {
            margin-top: 3rem;
            grid-template-columns: repeat(1, 0fr);
        }

        .blog__menu {
            width: 290px;
            height: 460px;
        
        }

        .blog-img img {
            width: 200px;
            height: 200px;
        }
        
        .blog-title {
            font-size: 1.7rem;
        }

        .blog-subtitle {
            font-size: 0.9rem;
            margin-top: 2rem;
        }

        .blog-content {
            grid-template-columns: repeat(1, 1.5fr);
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            
        }     

        .blog-title-date{
            font-size: 0.9rem;
        }
        
        .blog-menu-title {
            font-size: 1rem;
        }

        .contact-info {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }

        .contact-card {
            justify-self: center;
            align-items: center;
        }

        .contact-card__title {
            font-size: 1.8rem;
        }

        .contact-card__subtitle {

            font-size: 1rem;
        }

        .contact-img {
            width: 270px;
            height: 240px;
        }

        .contact-last-title {
            font-size: 0.8rem;
        }

        .contact-form {
            z-index: 1001;
            margin-left: -1rem;
            justify-self: center;
        }

        input {
            width: 350px;
            height: 3.5rem;
        }

        textarea {
            width: 21.5rem;
        }

        .contact-button {
            width: 17.06rem;
            height: 3.213rem;

        }

        
    }


    @media screen and (min-width:36.25em) {

        .home-image {
            margin-top: -1rem;
            text-align: center;
        }

        .home-title,
        .about-title 
        {
            font-size: 3rem;
        }

        .home-subtitle,
        .about-subtitle
        {
            font-size: 1.3rem;
        }

        .about-container {
            justify-content: center;
        }

        .cheese__title,
        .cheese__subtitle {
            text-align: start;
            margin-left: 2rem;
        }
        

        .menu-description {
            grid-template-columns: repeat(2, 0fr);
        }

 
        .blog-content {
            gap: 0;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 0fr);
            

        }
        

    }

    

    @media screen and (min-width:48.75em) {

        section {
            padding: 0 8%;
        }
        
        .container {
            padding-top: 7rem;
            padding-bottom: 3rem;
            grid-template-columns: repeat(2, 10fr);
            column-gap: 1rem;
        }
         
        .container-home {
            margin-top: -1.5rem;
        }

        .home-title {
            font-size: 4rem;
        }

        .home-title,
        .home-subtitle 
        {
            text-align: initial;
        }


        .home-button {
            justify-content: initial;
            align-items: initial;
            column-gap: 1rem;
            flex-direction: row;
           
        }

        .home__video {
            text-align: initial;
        }

        .home-image {
            margin-top: 10rem;
        }

        .about-container {
            display: flex; 
            justify-content:flex-start;
            gap: 2rem;
        }

        .about-title,
        .about-subtitle
        {
            text-align: initial;
        }

        .about-img{
            padding: 0 2%;
        }

        .about-img img {
            width: 310px;
            height: 300px;
        }

        .about-info {
            margin-top: 10rem;
        }

        .about-title {
            font-size: 2.5rem;
        }

        .about-subtitle {
            font-size: 1.5rem;
        }

        .info-title,
        .info-subtitle
        {
            font-size: 1rem;
            text-align: initial;
        }

        .about-link{
            padding: 19px 42px 18px 41px;
            display: inline-flex;
        }

        .menu__title,
        .blog-title
         {
            font-size: 2.5rem;
        }

        .menu-description {
            grid-template-columns: repeat(2, 0fr);

        }

        .contact-card,
        .contact-form
        {
            justify-self: initial;
            align-items: initial;
        }

        .contact-card__title {
            font-size:3rem;
        }

        .contact-card__subtitle {
            font-size: 1.25rem;
        }

        .contact-img{
            width: 310px;
            height: 300px;
        }

        .contact-last-title,
        .davis-link
        {
            font-size: 1.25rem;
        }


        .contact-button{

            margin-left: -22rem;
        }

    }

    @media screen and (min-width:57.563em) {

        .logo {
            margin-left: 1.4rem;
        }

        .right-header {
            margin-right: 3rem;
        }
        
    
        .nav__toggle{
            display: none;
        }

        .home__img {
            width: 500px;
            height: 490px;
        }

        .about-img{
            padding: 0 2%;
            margin-left: -1rem;
            
        }
    
        .about-img img{
            width: 410px;
            height: 400px;
        }
    
        .about-info {
            margin-top: 10rem;
        }
    
        .about-title {
            font-size: 2.5rem;
        }
    
        .about-subtitle {
            font-size: 1.5rem;
        }
    
        .info-title,
        .info-subtitle
        {
            font-size: 0.95rem;
        }

        .blog-content {
            margin-top: 7rem;
            grid-template-columns: repeat(3, 0fr);
            gap: 0;
            margin-right: 3rem;
        }
        .blog-title {
            font-size: 4rem;
        }
    
        .blog-subtitle { 
            font-size: 1.265rem;
        }
    

        .contact-info {
            grid-template-columns: repeat(2, 10fr);
        }  

        .contact-form {
            margin-left: 5rem;
            z-index: 0;
        }

        .contact-button {
            margin-right: -20rem;
        }
    }
    
@media screen and (min-width: 70.25em) {
           
    .right-header {
        margin-right: 7rem;
    }


    section{
        padding: 0 9%;
    }

    .home {
        padding-bottom: 50rem;
    }

    .container-home {
        padding-top: 3rem;
    }

    .home-title,
    .home-subtitle
    {
        text-align: initial;

    }

    .home-title {
        font-size: 4.313rem;
    }

    .home-subtitle {
        font-size: 1.125rem;
    }

    .get-started,
    .watch-video
    {
        padding: 1.5rem 1.5rem;
    }

    .get-started {
        padding: 1.5rem 3rem;
    }

    .home__video iframe {
        width: 310px;
        height: 80%;
    }

    .home__img {
        width: 600px;
        height: 580px;

    }

    .container {
        padding-top: 9rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(2, 10fr);
    }
    .container-home {
        width: 200%;
    }

    .home-image {
        margin-top: -3.5rem;
        margin-right: -5rem;
        margin-left: 3rem;
        display: block;
    }

    .about-img{
        margin-left: -3rem;
        
    }

    .about-img img{
        width: 510px;
        height: 500px;
    }
    
    .about-title {
        font-size: 3.5rem;
    }

    .about-subtitle{
        font-size: 1.9rem
    }

    .info-title,
    .info-subtitle
    {
       font-size: 1.15rem;
    justify-content: start;
    }

    
    .view__more {
        font-size: 1.3563rem;
    }

    .view__more i {
        font-size: 1.532rem;
    }


    
    .blog__menu {
        width: 320px;
        height: 515px;
        margin-left: 1rem;
    }

    .blog-img img {
        width: 250px;
        height: 250px;
    }

    .blog-content {
        gap: 3rem;
        margin-right: 0;
    }

    .contact-image {
        padding: 0 2%;
    }

    .contact-img {
        width: 310px;
        height: 300px;
    }

    .contact-end {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .contact-last-title,
    .davis-link
    {
        font-size: 1.25rem;
    }

    .contact-form {
        margin-left: 7rem;
    }
    
    input,
    textarea
    {
        font-size: 1.25rem;
        
    }

    input {
        width: 413px;
        height: 3.875rem;
    }

    textarea {
        width: 26.06rem;
        height: 10.063rem;
    }
    
    .contact-form form textarea {
        padding-top: 1rem;
    }

    .contact-button {
        font-size: 1.5rem;
        transition: .5s ease;
        margin-left: -5rem;
    }

    .contact-button:hover {
        transform: translateX(5px);
    }

}

@media screen and (min-width:75em){

    .menu-description {
        grid-template-columns: repeat(2, 0fr);
    }

    .menu__title {
        font-size: 4rem;
    }
    

}