/*------------===========Fonts==========------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white-color: #fff;
    --sign-up-background-and-text-color:#523728;
    --nav-bar-background-and-text-color:rgba(111, 68, 54, 0.80);
    --home-text-color:#523728;
    --home-title-info-color: rgba(27, 11, 11, 0.75);
    --scrollbar-color:#523728;
    --home-button-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 
                                0px 5px 11px 0px rgba(0, 0, 0, 0.10),
                                 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 
                                 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 
                                 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 
                                 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    --menu-background-color: rgba(106, 64, 40, 0.90);
    --menu-content-background-color:#FFF8E1;
    --menu-content-title-color: #1D2729;
    --menu-content-subtitle-color: #555;
    --menu-content-box-shadow: 2px 9px 42px 0px rgba(77, 66, 44, 0.50),
                                 -2px -9px 42px 0px rgba(77, 66, 44, 0.50);
    --blog-box-shadow: -2px -9px 42px 0px rgba(77, 66, 44, 0.38);
    --blog-background-color: #FFF8E1;

    /*-----================FontS,Font Sizes & Font Weights================----------*/

            /*-----================FontS================----------*/

    --accent-font:Inika;
    --sub-accent-font: Inter;
    --general-font:Poppins;
    

            /*-----================Font Sizes================----------*/

    --nav-font-size:16px;

            /*-----================Font Sizes================----------*/
    

    --font--smaller:400;
    --font-small:500;
    --font-medium:600;
    --font-regular:700;


    
}

        /*----------=============Webkit-------------================= */

        ::-webkit-scrollbar {
            width: .6rem;
            background: transparent;
            border-radius: 1rem;
            transition: .3s ease;
        }

        ::-webkit-scrollbar-thumb {
            width: 6rem;
            border-radius: 1rem;
            background:transparent;
        }

        ::-webkit-scrollbar-thumb:hover{
            background-color: var(--scrollbar-color);
        }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;   
    }
    body{
        /* background:url(/asset/img/MAIN\ BG.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
        width: 100%;
        height: 1000vh;
        }

       .grid{
        display: grid;
       }

    main{
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    /*-----================HEADER START================----------*/
    header {
        background:url(/asset/img/MAIN\ BG2.png);
        width: 100%;
        height: 17.9vh;
        border: none;
        background-position: center;
        background-size: cover;
        position: fixed;
        padding: 1.2rem,1.2rem,1.2rem,1.2rem;
        z-index: 101;
    }

    .logo {
        width: 132px;
        height: 130px;
        transform:translateX(3rem);
        cursor: pointer;
    }

    .nav-menu,
    .nav-list,
    .right-header,
    .sign-up,
    .nav__toggle
    {
        display: flex;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
        height: 3.5rem;
    }

    .nav-list {
        gap: 2.12rem;
        margin-top: 2.5rem;
        cursor: pointer;
        width: 460px;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        height: 43px;
        flex-shrink: 0;
        background-color: var(--nav-bar-background-and-text-color);
    }

    .nav-menu ul li a {
        color: var(--white-color);
        font-family: var(--sub-accent-font);
        font-weight: var(--font-medium);
        font-size: var(--nav-font-size);
        display: inline-block;
        padding: 12px 20px; /* Adjust padding */
        text-align: center; /* Center the text */
    }

   .nav-menu ul li .active-link {
        color:var(--nav-bar-background-and-text-color);
        font-weight: var(--font-regular);
    }

    .nav-menu ul li:hover a,
    .active a
    {
    border-radius: 10px;
    height: 43px;
    padding: 12px 20px;
    color: var(--nav-bar-background-and-text-color);
    background-color: var(--white-color);
    transition: 0.5s ease-out;
    }

    .right-header{
        margin-top: 2.5rem;
        gap: 2.5rem;
    }

    .sign-up {
    padding: 1.4rem;
    align-items: center;
    font-family: var(--general-font);
    font-size: var(--nav-font-size);
    font-weight: var(--font-small);
    color: var(--sign-up-background-and-text-color);
    border-radius: 25px;
    border: 1px solid var(--sign-up-background-and-text-color);
    }

    .nav__toggle {
        color: var(--title-color);
        transition: color .4s;
    }
    
    .nav__toggle i {
        font-size: 1.4rem;
        margin-left: -.1rem;
    }


    @media screen and (max-width:920px){

        header{
            height: 16.5vh;
        }
        
        .logo {
            margin-left: 0rem;
            width: 130px;
            height: 129px;
        }

        .right-header {
            margin-right: 2rem;
            gap: 1.5rem;
            cursor: pointer;
        }

        .nav-list {
            position: absolute;
            right: 0;
            overflow: auto;
            margin-top: 6.6rem;
            display: grid;
            border-radius: 0;
            opacity: 0;
            justify-content: flex-start;
            height: 50vh;
            transition: opacity .5s, 
            transform .4s, margin-top .4s;
            
        }
       
        .nav__toggle {
            position: relative;
            width: 32px;
            height: 32px;
            transition: .3s;
        }
        
        .nav__toggle:hover {
            transform: translateY(-.30rem);
        }

        .nav__burger,
        .nav__close
        {
            position: absolute;
            width: max-content;
            height: max-content;
            margin-top: 1rem;
            font-size: 1.75rem;
            transition: opacity .1s, transform .4s;
        }

        .nav__close {
            opacity: 0;
        }

        .open-icon .nav__burger {
            opacity: 0;
            transform: rotate(90deg);
        }
    
        .open-icon .nav__close {
            opacity: 1;
            transform: rotate(90deg);
        }
        
         .open {
            opacity: 99;
            margin-top: 6.9rem;
            pointer-events: initial;
        }
    }

    @media screen and (max-width:600px){

        header{
            height: 15vh;
        }
        
        .logo{
            width: 110px;
            height: 109px;
        }

        .nav-list{
        width: 50%;
        }

        .nav-menu ul li a {
            font-size: 14px;
        }
        
        .nav__burger,
        .nav__close{
            margin-top: 0.5rem;
        }
        
        .right-header{
            margin-right: 1rem;
        }

        .sign-up{
            padding: 1rem;
            font-size: 14px;
        }

        .open {
            margin-top: 5.8rem;
        }
    }

    @media screen and (max-width:499px){

        header{
            height: 13.5vh;
        }

        .logo{
            width: 110px;
            height: 109px;
        }

        .nav-list {
            width: 100%;
        }

        .right-header{
            margin-right: .1rem;
        }

        .open {
            margin-top: 5.2rem;
        }

    }
    @media screen and (max-width:380px){
       
        .nav-menu ul li a {
            font-size: 13px;
        }

        .right-header{
            gap: 1rem;
        }

        .sign-up{
            padding: .9rem;
            font-size: 12px;
        }
    }

    @media screen and (max-width:320px){

        header{
            height: 14.9vh;
        }
    }
/*-----================HEADER END================----------*/

    section{
        padding: 0 8%;
    }

    .home{
        background:url(/asset/img/MAIN\ BG.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover ;
        width: 100%;
        height: 100vh;
        row-gap: 2rem;
        padding-top: var(--mb-2-5);
        align-items: center;
        justify-content: center;
       
      
    }

    .container{
        display: grid;
        position: relative;
    }

      .container-home {
        transform: translateY(11.5rem);
    }

    .home-title {
        font-size: 4.125rem;
        color: var(--home-text-color);
        font-weight: var(--font-smaller);
        font-family: var(--accent-font);
        line-height: 120%;
    }

    .home-title-info{
        margin-top: 1rem;
        font-size: 18px;
        font-weight: var(--font-smaller);
        font-family: var(--sub-accent-font);
        color: var(--home-title-info-color);
    }

    .home-button{
        margin-top: 2.5rem;
        display: flex;
        gap: 1rem;
    }

    .get-started,
    .watch-video {
        padding:19px 30px;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: var(--general-font);
        font-weight: var(--font-medium);
    }
 
   .get-started { 
        box-shadow: var(--home-button-box-shadow);
        background-color: #6A4028;
        color: var(--white-color);
        cursor: pointer;
    }

    .watch-video {
        border: 1px solid #3D2619;
        color: #523728;
        cursor: pointer;
    }
 
    .home-image img{
        width: 600px;
        height: 600px;
        
       
    }


    #about{
        background-color: var(--white-color);
        height: 90vh;
        width: 100%;
        position: relative;
        z-index: 100;
    }
    .about-container{
        display: flex; 
        justify-content:flex-start;
        align-items: center;
        gap: 2rem;
    }

    .about-img{
        padding: 0 2%;
        margin-left: -3rem;
        
    }

    .about-img img{
        width: 510px;
        height: 500px;
    }

    .about-info{
        margin-top: 10rem;
    }

    .about-title{

        color: #220404;
        font-size: 3.7rem;
        font-family: var(--accent-font);
        font-weight: 400;
    }

    .about-subtitle{
        color: rgba(27, 11, 11, 0.75);
        font-family: var(--general-font);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: var(--font-smaller);
        line-height: normal;
    }

    .info-title,
    .info-subtitle
    {
        margin-top: 1.75rem;
        color: rgba(0, 0, 0, 0.70);
        font-family: var(--sub-accent-font);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: var(--font--smaller);
        line-height: normal;
    }

    .about-link{
        margin-top: 2rem;
        display: inline-flex;
        height: 56px;
        padding: 19px 42px 18px 41px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        background: #6A4028;
        color: var(--white-color);
        font-family: var(--general-font);
        font-size: 16px;
        font-style: normal;
        font-weight: var(--font-medium);
        transition: transform 0.3s ease-in-out;
    }

    .about-link:hover{
        transform: translateY(-.45rem);


    }

    @media screen and (max-width:389px) {

        .home{
            height: 110vh;
        }

        .home-title{
            font-size: 1.3rem;
            font-weight: var(--font-medium);
        }

        .home-title-info{
            font-size: 11px;
        }
        
        .get-started,
        .watch-video{
            padding: 10px 12px;
            font-size: 12px;
        }
        
        .home-image .home__img{
            width: 100%;
            height: 320px;
            transform: translateY(10rem);
            margin-left: -3rem;
        }
    }

    @media screen and (min-width:390px) {
        .home{
            height: 140vh;
        }

        .home-title{
            font-size: 1.9rem;
        }
        .home-title-info{
            font-size: 13px;
        }

        .get-started,
        .watch-video
        {
            padding: 13px 15px;
            font-size: 12px;
        }

        .home-image .home__img{
            width: 400px;
            height: 390px;
            transform: translateY(8rem);
            margin-left: -5rem;
        }
    }

    @media screen and (min-width:490px) {

        .home{
            height: 130vh;
        }

        .home-title{
            font-size: 2.3rem;
        }
        .home-title-info{
            font-size: 13px;
        }
        
        .get-started,
        .watch-video
        {
            padding: 9px 12px;
            font-size: 13px;
        }

        .home-image .home__img{
            width: 470px;
            height: 460px;
            transform: translateY(5.9rem);
            margin-left:-6rem;
        }

    }

    @media screen and (min-width:580px) {

        .home{
            height: 140vh;
        }

        .container-home{
            justify-content: center;
            align-items: center;
            margin-left: 3rem;
        }

        .home-title{
            font-size: 2.88rem;
        }

        .home-title-info{
            font-size: 17px;
        }

        .get-started,
        .watch-video {
            padding: 13px 15px;
            font-size: 14px;
        }

        .home-image .home__img{
            transform: translateX(4rem);
            transform: translateY(7rem);
            width: 500px;

        }
        

    }

    

    @media screen and (min-width:768px) {

        section{
            padding: 0;
        }


       
    .container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        transform: translateY(5rem);
        
    }

    .container-home {
        transform: translateY(15.5rem);
        
    }

    .home-title {
        font-size: 3.5rem;
        color: var(--home-text-color);
        font-weight: var(--font-smaller);
        font-family: var(--accent-font);
        line-height: 120%;
    }

    .home-title-info{
        margin-top: 1rem;
        font-size: 15px;
        font-weight: var(--font-smaller);
        font-family: var(--sub-accent-font);
        color: var(--home-title-info-color);
    }

    .home-button{
        margin-top: 2.5rem;
        display: flex;
        gap: 1rem;
    }

    .get-started,
    .watch-video {
        padding:10px 10px;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: var(--general-font);
        font-weight: var(--font-medium);
    }
 
   .get-started { 
        box-shadow: var(--home-button-box-shadow);
        background-color: #6A4028;
        color: var(--white-color);
        cursor: pointer;
    }

    .watch-video {
        border: 1px solid #3D2619;
        color: #523728;
        cursor: pointer;
    }
   
    .home-image .home__img{
        transform: translateY(16rem);
        
        width: 400px;
        height: 390px;
    }

}
    @media screen and (min-width:921px) {

       

        .logo {
            margin-left: 1.4rem;
        }
        
    
        .nav__toggle{
            display: none;
        }

        .home{
            height: 100vh;
        }

        .container{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
            transform: translateY(5rem);
            
        }
    
        .container-home {
            transform: translateY(15.5rem);
            
        }
        .home-info .home-title {
            font-size: 4rem;
            color: var(--home-text-color);
            font-weight: var(--font-smaller);
            font-family: var(--accent-font);
            
        }
        
    }
    
@media screen and (min-width: 1124px) {
        
    .right-header {
        margin-right: 7rem;
    }

    .nav__toggle {
        display: none;
    }

    section{
        padding: 0 6%;
    }
    .home{
        background:url(/asset/img/MAIN\ BG.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover ;
        width: 100%;
        height: 100vh;
       
      
    }
    .container-home{
        transform: translateY(11.5rem);
    }
    
    .container{
        display: grid;
        grid-gap: 2rem;
        transform: translateY(3rem);
       
    }

    .home-info .home-title {
        font-size: 4rem;
        color: var(--home-text-color);
        font-weight: var(--font-smaller);
        font-family: var(--accent-font);
        width: 150%;
        /* line-height: 120%; */
    }

    .home-title-info{
        margin-top: 1rem;
        font-size: 18px;
        font-weight: var(--font-smaller);
        font-family: var(--sub-accent-font);
        color: var(--home-title-info-color);
    }

    .home-button{
        margin-top: 2.5rem;
        display: flex;
        gap: 1rem;
    }

    .get-started,
    .watch-video {
        padding:19px 30px;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: var(--general-font);
        font-weight: var(--font-medium);
    }
 
   .get-started { 
        box-shadow: var(--home-button-box-shadow);
        background-color: #6A4028;
        color: var(--white-color);
        cursor: pointer;
    }

    .watch-video {
        border: 1px solid #3D2619;
        color: #523728;
        cursor: pointer;
    }

    .home-image .home__img{
        width: 600px;
        height: 600px;
        transform: translateX(5rem);
        margin-top: 5rem;
       
    }
    .home-image{
       padding: 0 1%;
        
    }
    
}