/*------------===========Fonts==========------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white-color: #fff;
    --sign-up-background-and-text-color:#523728;
    --nav-bar-background-and-text-color:rgba(111, 68, 54, 0.80);

    /*-----================FontS,Font Sizes & Font Weights================----------*/

            /*-----================FontS================----------*/

    --main-font:Inika;
    --general-font:Poppins;
    --accent-font: Inter;

            /*-----================Font Sizes================----------*/

    --nav-font-size:16px;

            /*-----================Font Sizes================----------*/

    --font--smaller:400;
    --font-small:500;
    --font-medium:600;
    --font-regular:700;


    
}

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;   
    }
    
    /*-----================HEADER START================----------*/
    header {
        background:url(/asset/img/MAIN\ BG.png);
        width: 100%;
        height: 17.9vh;
        border: none;
        background-position: center;
        background-size: cover;
        position: fixed;
        padding: 1.2rem,1.2rem,1.2rem,1.2rem;
        z-index: 100;
    }

    .logo {
        width: 132px;
        height: 130px;
        margin-left: 3rem;
    }

    .nav-menu,
    .nav-list,
    .right-header,
    .sign-up,
    .nav__toggle
    {
        display: flex;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
        height: 3.5rem;
    }

    .nav-list {
        gap: 2.1rem;
        margin-top: 2.5rem;
        cursor: pointer;
        width: 460px;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        height: 43px;
        flex-shrink: 0;
        background-color: var(--nav-bar-background-and-text-color);
    }

    .nav-menu ul li a {
        color: var(--white-color);
        font-family: var(--accent-font);
        font-weight: var(--font-medium);
        font-size: var(--nav-font-size);
        display: inline-block;
        padding: 12px 20px; /* Adjust padding */
        text-align: center; /* Center the text */
    }

   .nav-menu ul li .active-link {
        color:var(--nav-bar-background-and-text-color);
        font-weight: var(--font-regular);
    }

    .nav-menu ul li:hover a,
    .active a
    {
    border-radius: 10px;
    height: 43px;
    padding: 12px 20px;
    color: var(--nav-bar-background-and-text-color);
    background-color: var(--white-color);
    transition: 0.5s ease-out;
    }

    .right-header{
        margin-top: 2.5rem;
        gap: 2.5rem;
    }

    .sign-up {
    padding: 1.4rem;
    align-items: center;
    font-family: var(--general-font);
    font-size: var(--nav-font-size);
    font-weight: var(--font-small);
    color: var(--sign-up-background-and-text-color);
    border-radius: 25px;
    border: 1px solid var(--sign-up-background-and-text-color);
    }

    .nav__toggle {
        color: var(--title-color);
        transition: color .4s;
    }
    
    .nav__toggle i {
        font-size: 1.4rem;
        margin-left: -.1rem;
    }


    @media screen and (max-width:920px){
        
        .logo {
            margin-left: 0rem;
        }

        .right-header {
            margin-right: 3rem;
            gap: 1.5rem;
            cursor: pointer;
        }

        .nav-list {
            position: absolute;
            right: 0;
            overflow: auto;
            margin-top: 6.6rem;
            display: grid;
            border-radius: 0;
            opacity: 0;
            justify-content: flex-start;
            height: 50vh;
            transition: opacity .5s, transform .4s, margin-top .4s;
            
        }
       
        .nav__toggle {
            position: relative;
            width: 32px;
            height: 32px;
            transition: .3s;
        }
        
        .nav__toggle:hover {
            transform: translateY(-.30rem);
        }

        .nav__burger,
        .nav__close
        {
            position: absolute;
            width: max-content;
            height: max-content;
            margin-top: .45rem;
            font-size: 1.75rem;
            transition: opacity .1s, transform .4s;
        }

        .nav__close {
            opacity: 0;
        }

        .open-icon .nav__burger {
            opacity: 0;
            transform: rotate(90deg);
        }
    
        .open-icon .nav__close {
            opacity: 1;
            transform: rotate(90deg);
        }
        
         .open {
            opacity: 1;
            margin-top: 6.9rem;
            pointer-events: initial;
        }
    }

    @media screen and (max-width:600px){
        
        .logo{
            width: 120px;
            height: 119px;
        }

        .nav-list{
        width: 50%;
        }

        .nav-menu ul li a {
            font-size: 14px;
        }

        .sign-up{
            padding: 1rem;
            font-size: 14px;
        }
    }

    @media screen and (max-width:499px){

        .logo{
            width: 110px;
            height: 109px;
        }

        .nav-list {
            width: 100%;
        }

        .right-header{
            margin-right: .1rem;
        }


    }
    @media screen and (max-width:380px){
        .nav-menu ul li a {
            font-size: 13px;
        }
    }
/*-----================HEADER END================----------*/

/*
    .fefe{
        background:url(/asset/img/MAIN\ BG.png);
        width: 100%;
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

       
    }*/


    @media screen and (min-width: 1000px){
        
        .right-header {
            margin-right: 7rem;
        }
    
        .nav__toggle {
            display: none;
        }
    }

    @media screen and (min-width:901px){

        .logo {
            margin-left: 1.4rem;
        }
        
       

        .nav__toggle {
            display: none;
        }
        
    }